<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(`./partials/head`) %>
</head>

<body>
    <header>
        <%- include('./partials/header', {current: `formProductos`}) %>
    </header>

    <div class="jumbotron">
        <main>
            <div class="jumbotron">
                <h1 class="display-4">Desafío 19</h1>
                <hr class="my-4">
                <p>
                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora at fugiat laborum. Provident eligendi aliquam, commodi dolorem voluptas corporis harum! Adipisci molestiae iure accusamus repellendus? Velit dignissimos asperiores non provident.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id assumenda minus neque ea nihil eius veniam ab ullam consequatur illum iure sapiente odio deleniti, quod quas aperiam. Expedita, hic at.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit ab numquam repellat, illum repudiandae voluptate quisquam ut aperiam recusandae porro veniam dolor magnam minus dignissimos aspernatur fugiat voluptatem culpa. Ad.
                </p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, natus harum. Consectetur suscipit voluptatem reprehenderit enim fugit tempore molestias ex quo, nesciunt dolorum asperiores ipsa perferendis expedita pariatur fugiat consequatur.
                </p>
            </div>
        </main>
    </div>
</body>

<footer>
    <%- include('./partials/footer') %>
</footer>

</html>